t1708e-service-client01/src/main/java/t1708e/serviceclient/service/product-service2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ProductServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/product-service?xsd=1"/>
</xsd:schema>
</types>
<message name="sellProduct">
<part name="parameters" element="tns:sellProduct"/>
</message>
<message name="sellProductResponse">
<part name="parameters" element="tns:sellProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getAllProduct">
<part name="parameters" element="tns:getAllProduct"/>
</message>
<message name="getAllProductResponse">
<part name="parameters" element="tns:getAllProductResponse"/>
</message>
<portType name="ProductService">
<operation name="sellProduct">
<input wsam:Action="http://service/ProductService/sellProductRequest" message="tns:sellProduct"/>
<output wsam:Action="http://service/ProductService/sellProductResponse" message="tns:sellProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://service/ProductService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://service/ProductService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getAllProduct">
<input wsam:Action="http://service/ProductService/getAllProductRequest" message="tns:getAllProduct"/>
<output wsam:Action="http://service/ProductService/getAllProductResponse" message="tns:getAllProductResponse"/>
</operation>
</portType>
<binding name="ProductServicePortBinding" type="tns:ProductService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sellProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductServiceService">
<port name="ProductServicePort" binding="tns:ProductServicePortBinding">
<soap:address location="http://localhost:9000/product-service"/>
</port>
</service>
</definitions>